header{
    background-color: #ed5761;
    position: sticky; 
    top: 0px;
    width: 100%;
}

body{
    background-color: #181419;
    color: #ffffff;
    margin: 0;
    font-family: sans-serif;
    width: 100%;
}

img{
    width: 100px;
    height: 300px;
}

.barraNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    padding: 0rem 1rem;
    position: relative;
    height: auto;

}

.btnLogo{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.btnNav{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
}

.btnNavEsp{
    text-decoration: none;
    color: #ffffff;
    background-color: #181419;
    padding: 1rem;
    border-radius: 20px;
}

.imgbanner{
    height: 34vw;
    width: 100%;
}

hr{
    border: 1px solid #ed5761;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
   
}


.contprod {
    width: 100%;
}

.promocionesbox{    
    width: 100%;
}

.titprinc{
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 100%;
}

.prodcprom{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;

}



.imgbox{
    border: 4px outset white;
    width: 100%;
    height: auto;
    margin: 1.5vw;
}

.imgproduc{
    width: 100%;
    height: 22vw;
    object-fit:contain;
    max-height: 25vw;
    padding-top: 2vw;

}

.pdcnew{
    width: 100%;
    align-items: baseline;
}

.imgpnv{
    width: 80%;
    height: auto;
}

.pdcnewbox{
    width: 100%;
    text-align: center;
}



.producdtc{
    display: flex;
    align-items: center;
}

.titpdtcimg{
    display: inline;
}

footer{
    width: 100%;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #ed576183;
    text-align: center;
    font-size: 1.3rem;
}

.contubi{
    width: 50%;
}

.map{
    width: 100%;
    height: auto;
}

.contredes{
    width: 50%;
    display: inline;
}

.iconredes{
    display:flex;
    width: 100%;
    align-items: center;
}

.iconbox{
    width: 250%;
    height: auto;    
}

.boxredes{
    width: 100%;
    display: flex;
}

.imgred{
    width: 20%;
    height: 2vw;
}

.tith4{
    margin-bottom: 4rem;
}

.titredes{
    text-align: center;
    font-size: 1rem;
    margin: 0;
    margin-top: 1rem;
}

.dev{
    text-align: center;
    margin-top: 6vw;
    text-decoration: none;
}